@import "./Variables&Mixins";

.pages-travel-background {
  background: linear-gradient(270deg, rgb(95, 158, 160) 50%, rgb(56, 92, 94));
  height: 1500px;
}

.h1-travel {
  display: inline-block;
  font-family: $fontType1;
  margin: 20px calc(50% - 200px);
  font-size: 60px;
  color: #fff;
}

.return {
  display: flex;
  color: #fff;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  margin: -100px 30px;
}

.return p {
  margin: 0 12px;
}
#arrow-return {
  margin: 3px 0;
}

/* Travel-R-All*/ ///////////////////////////////////////////////////////////////

.all-category-rt {
  @include flex_center;
  position: absolute;
  width: 600px;
  height: 1100px;
  top: 100px;
  left: calc(50% - 300px);

  .box-category {
    width: 350px;
  }

  .first-category {
    background-color: rgb(61, 98, 100);
    padding: 1rem;
    margin: 0rem;
    box-shadow: 2px 4px 5px #222;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    .content-first-category {
      color: #fff;
      font-family: $fontType2;
      font-size: 30px;
      pointer-events: none;
    }
  }

  .second-category {
    /*Faire en sorte que le first cat ne bouge pas vers le haut*/
    .box-content-second {
      background-color: rgb(61, 98, 100);
      box-shadow: 2px 4px 5px #222;
      padding: 0px 0.5rem;
      margin: 0.1rem;
      border-radius: 5px;
      cursor: pointer;
      .content-second-category {
        color: #fff;
        font-family: $fontType2;
        font-size: 20px;

        pointer-events: none;
      }
    }
  }
}
.first-category:hover {
  background-color: rgb(44, 122, 126);
}

.fade {
  transition: opacity 0.3s;
}

.fade.out {
  opacity: 0;
}

.wout {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.link-underline {
  text-decoration: none;
}

.lol {
  background-color: red;
  width: 500px;
  height: 500px;
}
