$fontType1: "Satisfy", cursive;
$fontType2: "Ubuntu", sans-serif;

@mixin flex_center {
  display: flex;
  justify-content: center;
}

@mixin flex-center2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
