.App {
  background-color: cadetblue;
}

.header-background {
  margin-bottom: 200px;
}

.title-all {
  display: inline-block;
  text-align: center;
  margin: 20px calc(50% - 200px);
  width: 400px;
  font-size: 35px;
  font-family: "Satisfy", cursive;
}

/* FIRST LOOK /////////////////////////////////*/
.first-all {
  font-size: 20px;
  width: 800px;
  margin: 80px 150px;
  font-family: "Ubuntu", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}
/* SECTION 1 /////////////////////////////////*/

.section1-background {
  background-color: #fff;
  height: 1100px;
}

.section-title-all {
  display: inline-block;
  text-align: center;
  margin: 50px calc(50% - 200px);
}

.section-title-all h2 {
  font-family: "Satisfy", cursive;
  font-size: 35px;
}

.section-category {
  margin: 50px 220px;
}

.section-category.r {
  float: left;
  background: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.15752-9/310225506_469827178443732_979114172636474639_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=tXdpuH8XfVMAX924hFq&_nc_ht=scontent-sjc3-1.xx&oh=03_AVJnJT7oeYCdXbb0D1Tvbt3J5ZmybQ5dmMmNGegekAtUzQ&oe=636DF443);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.r:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box1 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 18%;
  top: 159%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

.section-category.v {
  float: left;
  background: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.15752-9/310081677_846801563018222_5621701595898177584_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Fg9iqcnFhd4AX8xbz1G&_nc_ht=scontent-sjc3-1.xx&oh=03_AdTDdeiJjvYR8KLqsacJXUHsz1OIK_-Jx_N1bse4PtG3Rw&oe=636B754A);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.v:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box2 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 70%;
  top: 159%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

.text-end-section {
  display: inline-block;
  margin: 30px 100px;
}

.limit {
  margin: 2000px 0;
}
/* SECTION 2 /////////////////////////////////*/
.section-category.h {
  margin: 0 calc(50% - 100px);
}
/* SECTION 3 /////////////////////////////////*/
.section3-title-all {
  text-align: left;
  font-family: "Satisfy", cursive;
  margin: 50px 100px;
}

.section3-text {
  margin: 0 100px;
}

.citation {
  margin: 80px 200px;
}
/* FOOTER /////////////////////////////////*/
.credits {
  background-color: rgb(55, 94, 95);
  text-align: center;
  height: 200px;
  margin-top: 100px;
}
