.App {
  background: linear-gradient(270deg, rgb(95, 158, 160) 50%, rgb(56, 92, 94));
}

.header-background {
  height: 1000px;
}

.title-all {
  display: inline-block;
  text-align: center;
  color: #eee;
  margin: 20px calc(50% - 200px);
  width: 400px;
  font-size: 35px;
  font-family: "Satisfy", cursive;
}

.img {
  position: absolute;
  top: 38%;
  left: 65%;
  width: 400px;
  height: 500px;
  box-shadow: 30px 40px 0px rgb(56, 92, 94), -20px -30px 0px rgb(56, 92, 94);
}

/* FIRST LOOK /////////////////////////////////*/
.first-all {
  color: #eee;
  font-size: 20px;
  width: 800px;
  margin: 80px 150px;
  font-family: "Ubuntu", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
}
/* SECTION 1 /////////////////////////////////*/

.section1-background {
  background-color: #fff;
  height: 1100px;
}

.section-title-all {
  display: inline-block;
  text-align: center;
  margin: 50px calc(50% - 200px);
}

.section-title-all h2 {
  font-family: "Satisfy", cursive;
  font-size: 35px;
}

#arrow-left {
  position: absolute;
  font-size: 60px;
  top: 160%;
  left: 7%;
  cursor: pointer;
}

#arrow-right {
  position: absolute;
  font-size: 60px;
  top: 160%;
  left: 90%;
  cursor: pointer;
}

.div-all-box {
  width: 1200px;
  height: 200px;
  margin-left: calc(50% - 600px);
}

.section-category {
  margin: 50px 50px;
}

.section-category.r {
  float: left;
  background: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.15752-9/310225506_469827178443732_979114172636474639_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=tXdpuH8XfVMAX924hFq&_nc_ht=scontent-sjc3-1.xx&oh=03_AVJnJT7oeYCdXbb0D1Tvbt3J5ZmybQ5dmMmNGegekAtUzQ&oe=636DF443);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.r:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box1 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 27%;
  top: 150%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

.section-category.v {
  float: left;
  background: url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.15752-9/310081677_846801563018222_5621701595898177584_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Fg9iqcnFhd4AX8xbz1G&_nc_ht=scontent-sjc3-1.xx&oh=03_AdTDdeiJjvYR8KLqsacJXUHsz1OIK_-Jx_N1bse4PtG3Rw&oe=636B754A);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.v:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box2 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 61%;
  top: 150%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

.text-end-section {
  display: inline-block;
  margin: 30px 100px;
}

.limit {
  margin: 2000px 0;
}

.section-category.h {
  float: left;
  background: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/310990664_8140185182690428_4307302376859419385_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=O_JLDEhBH2QAX9NNz3q&_nc_ht=scontent-cdg2-1.xx&oh=03_AdS_IdF4FtNYCvL97ct4xoMnUYb908L9c5xleAghpcy9_g&oe=636EDE0E);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.h:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box3 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 30.5%;
  top: 150%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

.section-category.m {
  float: left;
  background: url(https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/310555425_573867631178281_2026588216477961394_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=_SDF90G_3IAAX9UJBax&_nc_ht=scontent-cdg2-1.xx&oh=03_AdQs6vrvqUFuh6yknfy9Pa_YGqXoS2cKU_lnX1dr8pSfWw&oe=636D9337);
  background-size: 100%;
  height: 550px;
  width: 500px;
  box-shadow: 2px 3px 7px black;
  filter: blur(2px);
  opacity: 0.7;
  transition: filter 0.5s, opacity 0.5s;
}

.section-category.m:hover {
  filter: blur(0px);
  opacity: 1;
}

.title-box4 {
  position: absolute;
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 50px;
  left: 62.5%;
  top: 150%;
  padding: 20px;
  opacity: 1;
  border: 8px solid white;
}

/* SECTION 2 /////////////////////////////////*/
.section3-title-all {
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 45px;
  margin: 50px 300px;
}

.section3-text {
  display: inline-block;
  font-size: 25px;
  margin: 0 300px;
  width: 1000px;
}

.img-me {
  position: absolute;
  background: url(https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/310284604_3309243672728810_6839606725466225956_n.jpg?stp=dst-jpg_p1080x2048&_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=1jdzT36TSggAX-kY5bG&_nc_ht=scontent-cdt1-1.xx&oh=03_AdTLXeeUTXx7XijYU6BX_WJ8k3Dbofge-EcLSm2KN4AIbQ&oe=636C351D);
  background-size: 100% 100%;
  width: 250px;
  height: 300px;
  left: 72%;
  top: 230%;
}

.citation {
  font-size: 20px;
  width: 650px;
  margin: 300px 500px;
}

.img-citation {
  position: absolute;
  background: url(https://scontent-cdt1-1.xx.fbcdn.net/v/t1.15752-9/310984753_8738321552859439_2898283671132037459_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=QFaoETbgGhAAX952DCq&_nc_ht=scontent-cdt1-1.xx&oh=03_AdQJ9L2hst3qd_BgSEXvs__KVZDIzjcS60urNJfC4yStVg&oe=636F67D7);
  background-size: 100% 100%;
  width: 300px;
  height: 300px;
  left: 8%;
  top: 272%;
  border-radius: 50%;
}

.img-partenariat {
  position: absolute;
  background: url(https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/301893352_194206732953329_728765887016204597_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=FoCLLZq5DwkAX_1DZTp&_nc_ht=scontent-cdt1-1.xx&oh=00_AT__JxJm7wUWscXZFcAo1Ze3tTHxm1gZO9cLK2NyWCcRrA&oe=634CFD61);
  background-size: 100% 100%;
  width: 300px;
  height: 300px;
  left: 78%;
  top: 325%;
  border-radius: 50%;
}

/* FOOTER /////////////////////////////////*/
.credits {
  background-color: rgb(38, 73, 75);
  text-align: center;
  height: 200px;
  margin-top: 100px;
}
